src/main/mule/mule-cicd-fstyle-projt-wt-pass-prm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c0c97989-323c-45af-8bc9-4d1908c721ad" basePath="/freestyle" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-cicd-fstyle-projt-wt-pass-prmFlow" doc:id="00ac56de-40a7-412d-a07c-79003a2398f6" >
		<http:listener doc:name="Listener" doc:id="d31a7426-5584-4be4-aecc-c85ec094abdb" config-ref="HTTP_Listener_config" path="/project1"/>
		<logger level="INFO" doc:name="Logger" doc:id="8fe3d899-7cc8-4bf9-a4ba-bd99e8a73a87" message="input value is -- #[attributes.queryParams.id]"/>
		<db:insert doc:name="Insert" doc:id="9fd99f85-6618-4742-9287-ddbf35c3fd5c" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into cicd_flow_1_database_insert (id) values (:id)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: attributes.queryParams.id
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="4f6bf46e-80c9-4def-9f17-96ece8727886" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Message: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
